{% extends 'base.html.twig' %}

{% block title %}Info{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Xdebug Info</h1>

        <div>
            <ul class="list-group">
                <li><a href="{{ path('app_home') }}" class="btn btn-success m-2">Homepage</a></li>
            </ul>
        </div>

    </div>
{% endblock %}